# env stuff
*venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz

# cursor
.cursorignore

# pypi
.pypi*
.pypirc

# secrets
*secrets.py
.env
.cache

# build artifacts
dist/
build/
*.egg-info/
.eggs/

# downloads
downloads/